# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
# Safely stop any future local secret files 
# from being staged
.env*
# Explicitly track only the example local
# secret file - no other potential secret files
!.env.local.example

# vercel
.vercel

# Supabase CLI local state:
# tracks which Supabase database your machine is 
# currently linked to, e.g. production database 
# or development database. This will differ 
# per machine based on what each person in the 
# team is using at a current point in time. 
# Pushing this may break settings for another 
# team member, so don't track these with Git.
/supabase/.temp

# typescript
*.tsbuildinfo
next-env.d.ts
